
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Coincapmarker-primary: mat.define-palette(mat.$indigo-palette);
$Coincapmarker-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Coincapmarker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Coincapmarker-theme: mat.define-light-theme((
  color: (
    primary: $Coincapmarker-primary,
    accent: $Coincapmarker-accent,
    warn: $Coincapmarker-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Coincapmarker-theme);

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  outline: none;
  border: none;
  background: none;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
  color: white;
  padding: 0.125rem 0.75rem;


  &.add {
    background-color: #3498db;
    box-shadow: -1px -1px 2px 0 #1e618dd3 inset;

    &:hover {
      background-color: #2f90d1;
    }

    &:active {
      background-color: #2f90d1;
      box-shadow: 1px 1px 1px 0 #1e618dd3 inset;
    }
  }

  &.delete {
    background-color: #e74c3c;
    box-shadow: -1px -1px 2px 0 #992e22de inset;

    &:hover {
      background-color: #d83726;
    }

    &:active {
      background-color: #d83726;
      box-shadow: 1px 1px 1px 0 #992e22de inset;
    }
  }
}

input {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

body {
  height: auto;

  ul {
    padding: 0;
  }
}