table {
    margin-left: 2rem;
    border-spacing: 1rem;

    th {
        text-align: right;
        font-size: 0.75rem;
    }
    th:nth-of-type(2), th:nth-of-type(1) {
        text-align: left;
    }
    td:nth-of-type(2) {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 1.5rem;
        }
    }
    td:nth-of-type(n + 2) {
        text-align: right;
    }
}